//- extends layout

//- block layout-content
//-   div.View
//-     h1.Banner WHATABYTE
//-     div.Message
//-       div.Title
//-         h3 Making the Best
//-         h1 Food For Devs
//-       span.Details Access the WHATABYTE Team Portal
//-     div.NavButtons
//-       if isAuthenticated
//-         a(href="/user")
//-           div.NavButton Just dive in!
//-       else
//-         a(href="/login")
//-           div.NavButton Log in------------

doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title #{title} | Nutricionista
  // Custom fonts for this template
  link(rel="shortcut icon", href="/img/favicon2.ico")
  link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
  // Custom styles for this template
  link(href='/css/sb-admin-2.min.css' rel='stylesheet')
  script(src='/assets/js/custom.js' async)
  script(src='/assets/js/calculator-page.js')
body.container(onload="fillDateNow()")
  // Outer Row
  div.row.justify-content-center
    div.col-xl-10.col-lg-12.col-md-9
      div.card.o-hidden.border-0.shadow-lg.my-5
        div.card-body.p-0
          // Nested Row within Card Body
          div.row
            div.col
              div.text-center.mt-4
                h1.h4.text-gray-900.mb-4 Bem-vinda, Nutricionista!
          div.row
            div.col
              div.pl-4
                  form.user
                    div.form-group
                      label(for='dateVisit') Data de visita
                      input#date-visit.form-control.form-control-user(type='date' name='dateVisit' onchange="calculateAge()")
                    div.form-group
                      label(for='dateBirth') Data de nascimento
                      input#date-birth.form-control.form-control-user(type='date' name='dateBirth' onchange="calculateAge()")
                    //- br
                    //- a.btn.btn-primary.btn-user.btn-block(href="javascript: submit()") Login
            div.col
              div.pr-4
                form.user
                  div.form-group
                    label(for='weight') Peso (kg)
                    input#weight.form-control.form-control-user(type='number' name='weight' onchange="calculateImc()")
                  div.form-group
                    label(for='height') Altura
                    input#height.form-control.form-control-user(type='number' name='height' onchange="calculateImc()")
                  //- br
                  //- a.btn.btn-primary.btn-user.btn-block(href="javascript: submit()") Login

          hr
          div.row.mb-4
            div.col.text-center
              span Idade:
              span#age-result 0
              span#age-unit  meses
            div.col.text-center
              span IMC:
              span#imc-result 0

// Bootstrap core JavaScript
script(src='/vendor/jquery/jquery.min.js')
script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
// Core plugin JavaScript
script(src='/vendor/jquery-easing/jquery.easing.min.js')
// Custom scripts for all pages
script(src='/js/sb-admin-2.min.js')
