extends layout

block layout-content
  div.View.content
    div.container-fluid
      div.row
        div.card
          div.header
            h4.title Edit Profile
          div.content
            form
              div.row
                div.col-md-5
                  div.form-group
                    label Company (disabled)
                    input.form-control(type='text' disabled='' placeholder='Company' value='Creative Code Inc.')
                div.col-md-3
                  div.form-group
                    label Username
                    input.form-control(type='text' placeholder='Username' value='michael23')
                div.col-md-4
                  div.form-group
                    label(for='exampleInputEmail1') Email address
                    input.form-control(type='email' placeholder='Email')
              div.row
                div.col-md-6
                  div.form-group
                    label First Name
                    input.form-control(type='text' placeholder='Company' value='Mike')
                div.col-md-6
                  div.form-group
                    label Last Name
                    input.form-control(type='text' placeholder='Last Name' value='Andrew')
              div.row
                div.col-md-12
                  div.form-group
                    label Address
                    input.form-control(type='text' placeholder='Home Address' value='Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09')
              div.row
                div.col-md-4
                  div.form-group
                    label City
                    input.form-control(type='text' placeholder='City' value='Mike')
                div.col-md-4
                  div.form-group
                    label Country
                    input.form-control(type='text' placeholder='Country' value='Andrew')
                div.col-md-4
                  div.form-group
                    label Postal Code
                    input.form-control(type='number' placeholder='ZIP Code')
              div.row
                div.col-md-12
                  div.form-group
                    label About Me
                    textarea.form-control(rows='5' placeholder='Here can be your description' value='Mike') Lamborghini Mercy, Your chick she so thirsty, I&apos;m in that two seat Lambo.
              button.btn.btn-info.btn-fill.pull-right(type='submit') Update Profile
              div.clearfix