extends layout

block layout-content
  div.View.content
    div.container-fluid
      div.row
        div.card
          div.header
            h4.title Registrar Paciente
          div.content
            form
              div.row
                div.col-md-1
                  div.form-group
                    label(for='id') Código
                    p.form-control(id='id') 123
                div.col-md-6
                  div.form-group
                    label(for='email') Nome completo
                    input.form-control(type='text' placeholder='Maria da Silva' value='' id='fullName')
                div.col-md-5
                  div.form-group
                    label(for='email') Endereço de Email
                    input.form-control(type='email' placeholder='maria@silva.com' id='email')
              div.row
                div.col-md-6
                  div.form-group
                    label(for='birth') Data de Nascimento
                    input.form-control(type='date' placeholder='02/07/1987' value='' id='birth')
                div.col-md-6
                  div.form-group
                    label Profissão
                    input.form-control(type='text' placeholder='Last Name' value='Andrew')
              div.row
                div.col-md-12
                  div.form-group
                    label Planos
                    //-  TODO: load a list of existing health plans as a checklist
              div.row
                div.col-md-4
                  div.form-group
                    label Mora com
                    input.form-control(type='text' placeholder='City' value='Mike')
                div.col-md-4
                  div.form-group
                    label Gênero
                    input.form-control(type='text' placeholder='Country' value='Andrew')
                div.col-md-4
                  div.form-group
                    label Cidade
                    input.form-control(type='number' placeholder='ZIP Code')
              div.row
                div.col-md-12
                  div.form-group
                    label Observações
                    textarea.form-control(rows='5' placeholder='Here can be your description' value='Mike') Lamborghini Mercy, Your chick she so thirsty, I&apos;m in that two seat Lambo.
              button.btn.btn-info.btn-fill.pull-right(type='submit') Update Profile
              div.clearfix